
<h3>@ViewBag.Message</h3>



@for (int i = 0; i < ViewBag.ChampList.Count; i++)
{
    String id = ViewBag.ChampList[i].Id.ToString();
    String name = ViewBag.ChampList[i].Name;
<div class="col-md-3">
    <p>
        @Html.ActionLink(
    linkText: @name,
    actionName: "ChampionInfo",
    controllerName: "Home",
    routeValues: new {
    id = ViewBag.ChampList[i].Id
    },
    htmlAttributes: null
    )
    </p>
</div>
}
