@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Creator:</strong> <a href="aliena28898.github.com">Aliena28898</a><br />
    <strong>Database writer:</strong> <a href="someone.github.com">someone</a><br />
    <strong>Support:</strong>   <a href="mailto:aliena28898@gmail.com">aliena28898@gmail.com</a>
</address>