@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>League of Legends database</h1>
    <p class="lead">League of Legends is a free MOBA game released by Rito games. Take a look at it's big variety of content!</p>
    <p><a href="https://www.leagueoflegends.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            League of Legends gives you a unique team-play experience of 5 vs 5 or 3 vs 3. Go destroy the enemy nexus!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Customize your champions</h2>
        <p>Would you love Lux to be a magical girl instead of a regular Demacian mage? Perhaps Shyvanna to be ice-themed, or Teemo to show his real nature as Satan? No problem! Unlock the most fancy utfits and colours for your champions to use by purchasing or winning skins and chromas. A lot of them include unique particles and visual and sound effects, as long as they own lore!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Go competitive</h2>
        <p>Play ranked games to get and improve your rank all the way from Bronze to Challenger, or grab a team and go participate in Clash-the last competitive event released by Rito- and win multiple rewards!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Data, stats, team-finding and more</h2>
        <p>You can easily find a team for Clash, look at your current summoner stats, check what items/abilities/runes work the best in each champion and much more data-related stuff on OP.GG</p>
        <p><a class="btn btn-default" href="https://euw/op.gg.com">Learn more &raquo;</a></p>
    </div>
</div>